/* Definindo as cores principais */
body {
    background-color: black;
    color: white;
}

/* Estilo do botão */
.mostrar-tabela-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Estilo da tabela */
.minha-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.minha-tabela th, .minha-tabela td {
    padding: 8px;
    border-bottom: 1px solid white;
    text-align: left;
}

.minha-tabela th {
    background-color: green;
}

/* Estilizar as linhas pares da tabela */
.minha-tabela tr:nth-child(even) {
    background-color: #333;
}

/* Estilizar as linhas ímpares da tabela */
.minha-tabela tr:nth-child(odd) {
    background-color: #555;
}

/* Estilo para quando passar o mouse sobre a tabela */
.minha-tabela tr:hover {
    background-color: #666;
}
