{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Controle de gastos</h1>
        <div class="menu">
            <a>Graficos</a>
            <a  onclick="mostrarTabela()">Tabela</a>
        </div>
    </header>
    <table id="minhaTabela" style="display: none;">
        <tr>
            <th>id</th>
            <th>account</th>
            <th>type</th>
            <th>date</th>
            <th>category</th>
            <th>description</th>
            <th>value</th>
        </tr>
        {% for control in controls %}
        <tr>
            <td>{{ control.id }}</td>
            <td>{{ control.account }}</td>
            <td>{{ control.type }}</td>
            <td>{{ control.date }}</td>
            <td>{{ control.category }}</td>
            <td>{{ control.description }}</td>
            <td>{{ control.value }}</td>
        </tr>
        {% endfor %}
    </table>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
